<center>
<h1>Please Login to Flashy Cards</h1>
<form action='/sessions/new' method="post">
	Enter Email: <input type="text" name="email"><br><br>
	Enter Password: <input type="password" name="password"><br><br>	
	<input class="btn btn-info" type="submit" value="SUBMIT">
</form>
</center>

